.aboutProject {
    padding: 110px 0;
    margin: 0 auto;
    width: 89.06%;
    max-width: 1140px;
}

@media screen and (max-width: 768px) {
    .aboutProject {
        padding: 90px 0;
        width: 87%;
        max-width: 668px;
    }
}

@media screen and (max-width: 320px) {
    .aboutProject {
        padding: 70px 0;
        width: 88.8%;
        max-width: 284px;
    }
}