.footer__container {
    margin: 20px auto 0;
    display: flex;
    width: 89.06%;
    max-width: 1140px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer__container {
        width: 92.1%;
    }
}

@media screen and (max-width: 330px) {
    .footer__container {
        margin: 30px auto 0;
        flex-direction: column-reverse;
    }
}