.aboutProject__weeks {
    margin: 0;
    width: 20%;
    height: 36px;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: #3456F3;
}

.aboutProject__weeks:last-child {
    width: 80%;
    color: black;
    background-color: #F2F2F2;
}

@media screen and (max-width: 768px) {
    .aboutProject__weeks {
        width: 18.2%;
    }

    .aboutProject__weeks:last-child {
        width: 81.8%;
    }
}

@media screen and (max-width: 440px) {
    .aboutProject__weeks {
        width: 31.2%;
        font-size: 11px;
        line-height: 13px;
    }

    .aboutProject__weeks:last-child {
        width: 68.8%;
    }
}