.about-project__web-type {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 20%;
    color: #A0A0A0;
}

.about-project__web-type:last-child {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .about-project__web-type {
        width: 18.2%;
    }

    .about-project__web-type:last-child {
        width: 81.8%;
    }
}

@media screen and (max-width: 440px) {
    .about-project__web-type {
        width: 31.2%;
        font-size: 11px;
        line-height: 13px;
    }

    .about-project__web-type:last-child {
        width: 68.8%;
    }
}