.user__registered {
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


@media screen and (max-width: 410px) {
    .user__are-registered {
        font-size: 12px;
        line-height: 15px;
    }
}