.profile__quit-button {
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: #FAFAFA;
    color: #EE3465;
    border: 0;
    cursor: pointer;
}

.profile__quit-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 320px) {
    .profile__quit-button {
        font-size: 12px;
        line-height: 15px;
    }
}