.about-project__info {
    width: 48.25%;
}

@media screen and (max-width: 768px) {
    .about-project__info {
        width: 47.75%;
    }
}

@media screen and (max-width: 320px) {
    .about-project__info {
        width: 88.75%;
        margin-bottom: 56px;
    }

    .about-project__info:last-child {
        margin-bottom: 0;
    }
}