.about-me__title {
    margin: 0 0 66px;
    padding-bottom: 23px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    border: solid rgb(1, 1, 1);
    border-width: 0 0 1px;
}

@media screen and (max-width: 320px) {
    .about-me__title {
        margin: 0 0 60px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
}