.more-button {
    padding: 0;
    margin: 50px auto 80px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-color: #E8E8E8;
    border-style: solid;
    border-radius: 7px;
    width: 320px;
    height: 36px;
    transition: ease-in-out 0.3s;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.more-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 430px) {
    .more-button {
        width: 240px;
    }
}