.portfolio__arrow {
    margin: 0;
    width: 29px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .portfolio__arrow {
        font-size: 28px;
    }
}

@media screen and (max-width: 540px) {
    .portfolio__arrow {
        width: 18px;
        font-size: 18px;
        line-height: 28px;
    }
}