.about-me {
    padding: 110px 0 125px;
    margin: 0 auto;
    width: 89.06%;
    max-width: 1140px;
}

@media screen and (max-width: 768px) {
    .about-me {
        padding: 90px 0;
        width: 87%;
        max-width: 668px;
    }
}

@media screen and (max-width: 320px) {
    .about-me {
        padding: 70px 0;
        width: 91.2%;
        max-width: 292px;
    }
}